body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 16px;
    background: #fa923f;
    padding: 8px 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

a.active {
    color: #0118D8;
    /* targeting elements more preciously */
}

a:not(.active) {
    color: #F7374F;
    /* select anchor tag which is not having an active class */
}

.main-section {
    height: 800px;
    border: 1px solid #ccc;
    padding: 16px;
}

.highlighted {
    border: 2px dashed #F75A5A !important;
}